<div class="container-fluid">
  <div class="db-breadcrumb">
    <h4 class="breadcrumb-title">Add program</h4>
    <ul class="db-breadcrumb-list">
      <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
      <li>Add program</li>
    </ul>
  </div>
  <div class="row">
    <!-- Your Profile Views Chart -->
    <div class="col-lg-12 m-b30">
      <div class="widget-box">
        <div class="wc-title">
          <h4>Add program</h4>
        </div>
        <div class="widget-inner">
          <form class="edit-profile m-b30" [formGroup]="programForm">
            <div class="row">
              <div class="col-12">
                <div class="ml-auto">
                  <h3>1. Basic info</h3>
                </div>
              </div>
              <div class="form-group col-6"
                   [ngClass]="{'has-danger': programForm.get('program-motivation')!.invalid && programForm.get('program-motivation')!.touched}">
                <label class="col-form-label">Program Name</label>
                <div>
                  <input class="form-control form-control-danger" type="text" value=""
                         formControlName="program-motivation">
                  <app-validation-message controlName="program-motivation" [formGroup]="programForm"
                                          [submitted]="submitted"></app-validation-message>
                </div>
              </div>

              <div class="form-group col-6">
                <label class="col-form-label">Picture</label>
                <div>
                  <input class="form-control" type="file" accept="image/*" formControlName="program-picture"
                         (change)="onPictureChange($event)">
                  <app-validation-message controlName="program-picture" [formGroup]="programForm"
                                          [submitted]="sectionAdded"></app-validation-message>
                </div>
              </div>

              <div class="form-group col-6">
                <label class="col-form-label">Program Level</label>
                <div>
                  <select class="form-control" style="height: 40px;" formControlName="program-level">
                    <option value="beginner">Beginner</option>
                    <option value="intermediate">Intermediate</option>
                    <option value="hard">Hard</option>
                    <option value="all-levels">All Levels</option>
                  </select>
                </div>
                <app-validation-message controlName="program-level" [formGroup]="programForm"
                                        [submitted]="submitted"></app-validation-message>
              </div>

              <div class="form-group col-6">
                <label class="col-form-label">Price (DH)</label>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">DH</span>
                  </div>
                  <input class="form-control form-control-danger" type="text" value=""
                         formControlName="program-price">
                </div>
                <app-validation-message controlName="program-price" [formGroup]="programForm"
                                        [submitted]="submitted"></app-validation-message>
              </div>

              <div class="form-group col-6">
                <label class="col-form-label">Category</label>
                <select class="form-control" style="height: 40px;" formControlName="program-category">
                  <option value="fitness">Fitness</option>
                  <option value="nutrition">Nutrition</option>
                  <option value="mindset">Mindset</option>
                </select>
                <app-validation-message controlName="program-category" [formGroup]="programForm"
                                        [submitted]="submitted"></app-validation-message>
              </div>

              <div class="form-group col-6">
                <label class="col-form-label">Duration (Minutes/Day)</label>
                <div class="input-group">
                  <input class="form-control" type="number" step="1" value="" formControlName="program-duration">
                  <div class="input-group-append">
                    <span class="input-group-text">minutes/day</span>
                  </div>
                </div>
                <app-validation-message controlName="program-duration" [formGroup]="programForm"
                                        [submitted]="submitted"></app-validation-message>
              </div>

              <div class="form-group col-12"
                   [ngClass]="{'has-danger': programForm.get('motivation-description')!.invalid && programForm.get('motivation-description')!.touched}">
                <div class="seperator"></div>
                <div class="col-12 m-t20">
                  <div class="ml-auto m-b5">
                    <h3>2. Description</h3>
                  </div>
                </div>
                <label class="col-form-label">Motivation description</label>

                <textarea class="form-control" formControlName="motivation-description"> </textarea>
                <app-validation-message controlName="motivation-description" [formGroup]="programForm"
                                        [submitted]="submitted"></app-validation-message>
              </div>

              <div class="form-group col-12">
                <label class="col-form-label">Program description</label>
                <textarea class="form-control" formControlName="program-description"> </textarea>
                <app-validation-message controlName="program-description" [formGroup]="programForm"
                                        [submitted]="submitted"></app-validation-message>
              </div>
              <div class="form-group col-12">
                <label class="col-form-label">Program Options</label>
                <div>
                  <select formControlName="selected-options" multiple class="form-control form-control-lg"
                          style="height: 200px;">
                    <option class="py-2" *ngFor="let option of myOptions" [value]="option">{{ option }}</option>
                  </select>
                  <app-validation-message controlName="selected-options" [formGroup]="programForm"
                                          [submitted]="submitted"></app-validation-message>
                </div>
                <div class="mt-3 d-flex flex-wrap">
                  <span class="badge badge-pill badge-secondary mr-2 mb-2 d-flex align-items-center"
                        *ngFor="let option of selectedOptions; let i = index">
                    {{ option }}
                    <button type="button" class="close ml-2" aria-label="Close" (click)="removeOption(i)">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </span>
                </div>
              </div>


              <div class="form-group col-12">
                <label class="col-form-label">Program Equipments</label>
                <div>
                  <select formControlName="selected-equipments" multiple class="form-control form-control-lg"
                          style="height: 200px;">
                    <option class="py-2" *ngFor="let equipment of myEquipments"
                            [value]="equipment">{{ equipment }}</option>
                  </select>
                  <app-validation-message controlName="selected-equipments" [formGroup]="programForm"
                                          [submitted]="submitted"></app-validation-message>
                </div>
                <div class="mt-3 d-flex flex-wrap">
                  <span class="badge badge-pill badge-secondary mr-2 mb-2 d-flex align-items-center"
                        *ngFor="let equipment of selectedEquipments; let i = index">
                    {{ equipment }}
                    <button type="button" class="close ml-2" aria-label="Close" (click)="removeEquipment(i)">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </span>
                </div>
              </div>

              <form class="col-12 m-t20" [formGroup]="sectionForm">
                <div class="col-12 m-t20">
                  <div class="ml-auto">
                    <h3 class="m-form__section">3. Program Content</h3>
                    <h6 class="m-form__section">Add Section</h6>
                  </div>
                </div>
                <div class="col-12 ">
                  <div class="table-responsive bg-white">
                    <table class="table" id="item-add" style="width:100%;">
                      <thead>
                      <tr>
                        <th scope="col">Section Name</th>
                        <th scope="col">Section Level</th>
                        <th scope="col">Section Description</th>
                        <th scope="col">Remove</th>
                        <th scope="col">Modify</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr class="list-item" *ngFor="let item of programSectionDto">
                        <th scope="row" style="color: #666666;">{{item.title}}</th>
                        <td>{{item.level}}</td>
                        <td>{{item.description}}</td>
                        <td>
                          <button (click)="deleteSection(item)" class="btn btn-danger my-button"><i
                            class="fa fa-trash"></i></button>
                        </td>
                        <td>
                          <button (click)="modifyItem(item)" class="btn btn-primary my-button"><i
                            class="fa fa-edit"></i></button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="row">
                    <div class="form-group col-6"
                         [ngClass]="{'has-danger': sectionForm.get('section-name')!.invalid && sectionForm.get('section-name')!.touched}">
                      <label class="col-form-label">Section Name</label>
                      <input class="form-control" type="text" formControlName="section-name">
                      <app-validation-message controlName="section-name" [formGroup]="sectionForm"
                                              [submitted]="sectionAdded"></app-validation-message>
                    </div>

                    <div class="form-group col-6">
                      <label class="col-form-label">Section Level</label>
                      <div>
                        <select class="form-control" style="height: 40px;" formControlName="section-level">
                          <option value="first">First Level</option>
                          <option value="second">Second Level</option>
                          <option value="final">Final</option>
                        </select>
                        <app-validation-message controlName="section-level" [formGroup]="sectionForm"
                                                [submitted]="sectionAdded"></app-validation-message>
                      </div>
                    </div>

                    <div class="form-group col-12"
                         [ngClass]="{'has-danger': sectionForm.get('section-description')!.invalid && sectionForm.get('section-description')!.touched}">
                      <label class="col-form-label">Section description</label>
                      <textarea class="form-control" formControlName="section-description"></textarea>
                      <app-validation-message controlName="section-description" [formGroup]="sectionForm"
                                              [submitted]="sectionAdded"></app-validation-message>
                    </div>
                    <div class="form-group col-6">
                      <label class="col-form-label">Section Video</label>
                      <div>
                        <input class="form-control" type="file" accept="video/*" formControlName="section-video"
                               (change)="onSectionVideoChange($event)">
                        <app-validation-message controlName="section-video" [formGroup]="sectionForm"
                                                [submitted]="sectionAdded"></app-validation-message>
                      </div>
                    </div>
                    <div class="form-group col-6">
                      <label class="col-form-label">Picture</label>
                      <div>
                        <input class="form-control" type="file" accept="image/*" formControlName="section-picture"
                               (change)="onSectionPictureChange($event)">
                        <app-validation-message controlName="section-picture" [formGroup]="sectionForm"
                                                [submitted]="sectionAdded"></app-validation-message>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                        <a  (click)="addSection()" href="#" class="btn" data-toggle="modal" data-target="#exampleModal">Add Section</a>
                    </div>
                  </div>
                </div>
              </form>
              <div class="col-12 text-center">
                <button class="btn" (click)="saveChanges()">Save
                  changes
                </button>
              </div>
            </div>
            <app-modal *ngIf="showModal" message="Congratulations! The first element is added successfully." [showMessage]="false"></app-modal>
          </form>
        </div>
      </div>
    </div>
    <!-- Your Profile Views Chart END-->
  </div>
</div>
