<div id="loading-icon-bx"></div>
<div class="section-area section-sp1">

  <div class="container">
    <div  class="ttr-blog-grid-3 row" id="masonry">
      <div class="col-lg-12 mt-3">
        <app-alert *ngIf="alert" typeAlert="{{alert.type}}" message="{{ alert.message }}"></app-alert>
      </div>
      <div *ngFor="let blog of blogs" class="post action-card col-lg-4 col-md-6 col-sm-12 col-xs-12 m-b40">
        <app-blog-card *ngIf="blog" [blog]="blog"></app-blog-card>
      </div>
    </div>
    <div class="col-lg-12 m-b20">
      <div class="pagination-bx rounded-sm gray clearfix">
        <ul class="pagination">
          <li class="previous"><a (click)="previousPage()"><i class="ti-arrow-left"></i> Prev</a></li>
          <li *ngFor="let pageNumber of generatePageRange()" [class.active]="pageNumber === currentPage">
            <a (click)="currentPage = pageNumber; loadData();">{{ pageNumber + 1 }}</a>
          </li>
          <li class="next"><a (click)="nextPage()">Next <i class="ti-arrow-right"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
