.recent-news {
  height: 500px;
}

.action-box {
  height: 250px;
}

.action-box img {
  height: 250px;
}

.info-bx {
  height: 300px;
}

.info-bx h5 {
  height: 70px;
}

.info-bx p {
  height: 25px;
}
