<div id="loading-icon-bx"></div>
<div class="account-form">
  <div class="account-head" style="background-image:url(../../../../assets/images/hero-banner.png);">
    <a (click)="goToOtherComponent('/home')"><img class="img1" src="../../../../assets/images/pngwing.com.png" alt=""></a>
  </div>
  <div class="account-form-inner">
    <div class="account-container">
      <div class="heading-bx left">
        <h2 class="title-head">Forget <span>Password</span></h2>
        <p>Login Your Account <a (click)="goToOtherComponent('/login')">Click here</a></p>
      </div>
      <form class="contact-bx" [formGroup]="forgetPasswordFormGroup" (ngSubmit)="handleForgetPassword()">
        <div class="row placeani">
          <div class="col-lg-12 mt-3">
            <app-alert *ngIf="errorMessage" typeAlert="danger" message="{{ errorMessage }}"></app-alert>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <div class="input-group">
                <label>Your Email Address</label>
                <input name="email" id="email" type="email" class="form-control" formControlName="email">
                <div *ngIf="(submitted && forgetPasswordFormGroup.controls['email']?.errors) || (forgetPasswordFormGroup.controls['email'].invalid && (forgetPasswordFormGroup.controls['email'].dirty || forgetPasswordFormGroup.controls['email'].touched))">
                  <div *ngFor="let error of getErrorMessage(forgetPasswordFormGroup.controls['email'].errors)">
                    {{ error }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 m-b30">
            <button name="submit" type="submit" value="Submit" class="btn button-md">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
