<div class="widget-post clearfix">
  <div class="ttr-post-media"> <img src="../../assets/images/blog/recent-blog/pic1.jpg" width="200" height="143" alt=""> </div>
  <div class="ttr-post-info">
    <div class="ttr-post-header">
      <h6 class="post-title"><a href="blog-details.html">This Story Behind Fitness Will Haunt You Forever.</a></h6>
    </div>
    <ul class="media-post">
      <li><a href="#"><i class="fa fa-calendar"></i>Oct 23 2019</a></li>
      <li><a href="#"><i class="fa fa-comments-o"></i>15 Comment</a></li>
    </ul>
  </div>
</div>
