/* rating.component.css */
.rating {
  unicode-bidi: bidi-override;
}

.rating span {
  display: inline-block;
  position: relative;
  font-size: 24px;
  transition: transform 0.2s ease-in-out;
}

.rating span:hover {
  transform: scale(1.2);
}

.rating span:hover ~ span {
  transform: scale(1);
}

.rating span i {
  color: #ddd;
}

.rating span i.active {
  color: gold;
}
.clearfix {;
  border: 3px solid #00235B;
  border-radius: 10px;
}

.form-control:focus {
  border-color: #E0F1FF;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
