<!-- Breadcrumb row END -->
<!-- inner page banner END -->
<div id="loading-icon-bx" *ngIf="loading"></div>
<div class="content-block" *ngIf="programDto">
  <!-- About Us -->
  <div class="section-area section-sp1">
    <div class="container">
      <div class="row d-flex flex-row-reverse">
        <div class="col-lg-3 col-md-4 col-sm-12 m-b30">
          <div class="course-detail-bx">
            <div class="course-price">
              <!--              <del>$190</del>-->
              <h4 class="price">{{programDto.price}} MAD</h4>
            </div>
            <div *ngIf="!programAccess" class="course-buy-now text-center">
              <a class="btn radius-xl text-uppercase" (click)="enroll()">Enroll Now</a>
            </div>
            <div *ngIf="programAccess" class="course-buy-now text-center">
              <a class="btn radius-xl text-uppercase" (click)="watchProgram()">Watch Now</a>
            </div>
            <div class="teacher-bx">
              <div class="teacher-info">
                <div class="teacher-thumb">
                  <img src="{{programDto.createdBy?.profilePicture}}" alt=""/>
                </div>
                <div class="teacher-name">
                  <h5>{{programDto.createdBy?.firstName}} {{programDto.createdBy?.lastName}}</h5>
                  <span>Coach</span>
                </div>
              </div>
            </div>
            <div class="cours-more-info">
              <div class="review">
                <span>3 Review</span>
                <ul class="cours-star">
                  <li class="active"><i class="fa fa-star"></i></li>
                  <li class="active"><i class="fa fa-star"></i></li>
                  <li class="active"><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
              <div class="price categories">
                <span>Category</span>
                <h5 class="text-primary">{{getValueFromMapCategories(programDto.category)}}</h5>
              </div>
            </div>
            <div class="course-info-list scroll-page">
              <ul class="navbar">
                <li><a class="nav-link" href="#overview"><i class="ti-zip"></i>Overview</a></li>
                <li><a class="nav-link" href="#curriculum"><i class="ti-bookmark-alt"></i>Content</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-12">
          <div class="courses-post">
            <div class="ttr-post-media media-effect">
              <a href="#"><img [src]="programDto.picture" alt="Program Picture"></a>
            </div>
            <div class="ttr-post-info">
              <div class="ttr-post-title ">
                <h2 class="post-title">{{programDto.name}}</h2>
              </div>
              <div class="ttr-post-text">
                <p>{{programDto.motivationDescription}}</p>
              </div>
            </div>
          </div>
          <div class="courese-overview" id="overview">
            <h4>Overview</h4>
            <div class="row">
              <div class="col-md-12 col-lg-4">
                <ul class="course-features">
                  <li><i class="ti-book"></i> <span class="label">Workouts</span> <span
                    class="value">{{programDto.sections.length}}</span></li>
                  <li><i class="ti-time"></i> <span class="label">Duration</span> <span
                    class="value">{{programDto.durationPerDay}}</span></li>
                  <li><i class="ti-stats-up"></i> <span class="label">Skill level</span> <span
                    class="value">{{programDto.level}}</span></li>
                  <li><i class="ti-user"></i> <span class="label">Places</span> <span class="value">limited</span></li>
                </ul>
              </div>
              <div class="col-md-12 col-lg-8">
                <h5 class="m-b5">Program Description</h5>
                <p>{{programDto.description}}</p>
                <h5 class="m-b5">Program Includes</h5>
                <p>{{ getValuesFromMapOptions(programDto.options)}}</p>
                <h5 class="m-b5">Outcoming Sections</h5>
                <ul class="list-checked primary">
                  <li *ngFor="let section of programDto?.sections">{{ section.title }}</li>
                </ul>
                <h5 class="m-b5">Equipment Needed</h5>
                <p>{{getValuesFromMapEquipments(programDto.equipments)}}</p>
              </div>
            </div>
          </div>
          <div class="m-b30" id="curriculum">
            <h4>Program Content</h4>
            <ul class="curriculum-list">
              <li>
                <h5>First Level</h5>
                <ul>
                  <li *ngFor="let section of programDto.sections; let i = index">
                    <div class="curriculum-list-box" *ngIf="section.level === 'FIRST_LEVEL'">
                      <span>section {{ i + 1 }}.</span> {{ section.title }}
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <h5>Second Level</h5>
                <ul>
                  <li *ngFor="let section of programDto.sections; let i = index">
                    <div class="curriculum-list-box" *ngIf="section.level === 'SECOND_LEVEL'">
                      <span>section {{ i + 1 }}.</span> {{ section.title }}
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <h5>Final Level</h5>
                <ul>
                  <li *ngFor="let section of programDto.sections; let i = index">
                    <div class="curriculum-list-box" *ngIf="section.level === 'THIRD_LEVEL'">
                      <span>section {{ i + 1 }}.</span> {{ section.title }}
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
