<header class="header rs-nav">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--
    - favicon
  -->
  <!--
    - custom css link
  -->


  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Catamaran:wght@600;700;800;900&family=Rubik:wght@400;500;800&display=swap"
    rel="stylesheet">

  <!--
    - preload images
  -->
  <div class="sticky-header navbar-expand-lg">
    <div class="menu-bar clearfix">
      <div class="container clearfix">
        <!-- Header Logo ==== -->
        <div class="menu-logo">
          <a (click)="goToOtherComponent('/home')"><img src="../../../../assets/images/pngwing.com.png" alt=""></a>
        </div>
        <!-- Mobile Nav Button ==== -->
        <button class="navbar-toggler collapsed menuicon justify-content-end" type="button" data-toggle="collapse"
                data-target="#menuDropdown" aria-controls="menuDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <!-- Author Nav ==== -->
        <div class="secondary-menu">
          <div class="secondary-inner">
            <ul>
              <li><a href="javascript:;" class="btn-link"><i class="fa fa-facebook"></i></a></li>
              <li><a href="javascript:;" class="btn-link"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="javascript:;" class="btn-link"><i class="fa fa-linkedin"></i></a></li>
              <!-- Search Button ==== -->
              <li class="search-btn">
                <button id="quik-search-btn" type="button" class="btn-link"><i
                  class="fa fa-search"></i></button>
              </li>
            </ul>
          </div>
        </div>
        <!-- Search Box ==== -->
        <div class="nav-search-bar">
          <form action="#">
            <input name="search" value="" type="text" class="form-control" placeholder="Type to search">
            <span><i class="ti-search"></i></span>
          </form>
          <span id="search-remove"><i class="ti-close"></i></span>
        </div>
        <!-- Navigation Menu ==== -->
        <div class="menu-links navbar-collapse collapse justify-content-start" id="menuDropdown">
          <div class="menu-logo">
            <a (click)="goToOtherComponent('/home')"><img src="../../../../assets/images/pngwing.com.png" alt=""></a>
          </div>
          <ul class="nav navbar-nav">
            <li class="add-mega-menu"><a (click)="goToOtherComponent('/home')">Home</a></li>
            <li class="add-mega-menu"><a (click)="goToOtherComponent('/our-programs')">Programs</a></li>
            <li class="add-mega-menu"><a (click)="goToOtherComponent('/our-trainers')">Trainers</a></li>
            <li><a href="javascript:;">Community <i class="fa fa-chevron-down"></i></a>
              <ul class="sub-menu">
                <li><a (click)="goToOtherComponent('/blogs')">Blogs</a></li>
                <li><a (click)="goToOtherComponent('/contact-us')">Contact Us</a></li>
              </ul>
            </li>
            <li *ngIf="currentUser && hasDashboardAccess"><a href="javascript:;">Dashboard <i class="fa fa-chevron-down"></i></a>
              <ul class="sub-menu">
                <li class="add-mega-menu"><a href="/dashboard/home">Trainer</a></li>
                <li class="add-mega-menu"><a href="/dashboard/admin">Admin</a></li>
              </ul>
            </li>
            <li *ngIf="currentUser && !hasDashboardAccess " class="add-mega-menu"><a (click)="goToOtherComponent('/join-us')">Become Trainer</a></li>
            <li *ngIf="!currentUser" class="add-mega-menu"><a href="/login">Login</a></li>

            <li *ngIf="currentUser" style="width: fit-content;display: inline-block">
              <a style="height: 35px">
                <img class="img-prof" src="{{currentUser.profilePicture}}"/>
              </a>
              <ul class="sub-menu">
                <li><a href="/profile">Profile</a></li>
                <li ><a href="" (click)="logOut()">Log out</a></li>
              </ul>
            </li>


          </ul>
          <div class="nav-social-link">
            <a href="javascript:;"><i class="fa fa-facebook"></i></a>
            <a href="javascript:;"><i class="fa fa-google-plus"></i></a>
            <a href="javascript:;"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <!-- Navigation Menu END ==== -->
      </div>
    </div>
  </div>

</header>
