
<div *ngFor="let item of myData">
<div class="container div1">
    <div class="row align-items-center d-flex">
      <div class="col-lg-5 col-md-12 heading-bx">
        <h2 class="m-b10">{{item.name}}</h2>
        <h5 class="fw4">
          It is a long established fact that a reade.
        </h5>
        <p>
          Lorem Ipsum is simply dummy text of the printing and
          typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown
          printer took a galley of type and scrambled it to make a
          type specimen book. It has survived not only five centuries,
          but also the leap into electronic typesetting, remaining
          essentially unchanged.
        </p>
        <a href="#" class="btn">Watch Now</a>
      </div>
      <div class="col-lg-7 col-md-12 heading-bx p-lr">
        <div class="image-bx">
          <img src={{item.page}} alt="" />
        </div>
      </div>
    </div>
  </div>
 </div>
