.ttr-material-button{
  position: relative;
  overflow: hidden;
}

.ttr-user-avatar{
  display: block;
  width: 32px;
  height: 32px;
  border-radius:100%;
  overflow: hidden;
}

.ttr-header-submenu{
  background-color: #fff;
  position: absolute;
  top: 100%;
  min-width: 100%;
  left: 0;
  -webkit-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.3);
  transforttr-origin: left top 0px;
  display: none;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease,-webkit-transform .3s ease;
  -webkit-transform: scale(0);
  -khtml-transform: scale(0);
  transform: scale(0);
  -ms-box-shadow: 0 2px 4px 0 rgba(0,0,0,.16),0 2px 8px 0 rgba(0,0,0,.12);
  -o-box-shadow: 0 2px 4px 0 rgba(0,0,0,.16),0 2px 8px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.16), 0 2px 8px 0 rgba(0,0,0,.12);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=0, M21=0, M22=0, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix( M11=0, M12=0, M21=0, M22=0, SizingMethod='auto expand');
}
.ttr-header-submenu.ttr-extra-menu{
  width: 280px;
}
.ttr-extra-menu a{
  display: block;
  width: 50%;
  float: left;
  height: 80px;
  text-align: center;
  border-bottom:solid 1px #EEE;
  padding: 15px 0;
  color: #333 !important;
}
.ttr-extra-menu a i{
  font-size:24px;
  margin-bottom: 10px;
}
.ttr-extra-menu a:hover{
  background-color: #f2f2f2;
  text-decoration: none;
}
.ttr-extra-menu a span{
  display: block;
}
.ttr-extra-menu a:nth-child(odd){
  border-right: solid 1px #EEE;
}
.ttr-header-submenu.ttr-notify-list{
  width: 360px;
}

.ttr-header-submenu ul li{
  display: block;
  width: 100%;
}
.ttr-header-submenu ul li a{
  display: block;
  text-decoration: none;
  padding: 10px 15px;
  color: #444;
  white-space: nowrap;
}
.ttr-header-submenu ul li a:hover{
  background-color: #EEE;
}
.ttr-header-submenu.active{
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  transform: scale(1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix( M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand');
}
.ttr-header-right{
  display: inline-block;
  float: right;
}
