<div class="comment-respond" id="respond">
  <h4 class="comment-reply-title" id="reply-title">Leave a Comment <small> <a style="display:none;" href="#" id="cancel-comment-reply-link" rel="nofollow">Cancel reply</a> </small> </h4>
  <form class="comment-form" id="commentform" method="post">
    <p class="comment-form-comment">
      <textarea rows="8" name="comment" placeholder="Comment" id="comment"></textarea>
    </p>
    <p class="form-submit">
      <input type="submit" value="Submit Comment" class="submit" id="submit" name="submit">
    </p>
  </form>
</div>
