<div id="loading-icon-bx"></div>
<div class="breadcrumb-row">
  <div class="container">
    <ul class="list-inline">
      <li><a href="#">Home</a></li>
      <li>Watch</li>
    </ul>
  </div>
</div>
<div class="section-area section-sp2 bg-fix ovbl-dark join-bx" style="background-color: #0b0b0b">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center heading-bx text-white">
        <h2 class="title-head m-b0">Why Choose <span>Us</span></h2>
        <p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
      </div>
      <div class="col-md-6">
        <div class="why-chooses-bx ">
          <div class=""></div>
          <div class="ttr-accordion m-b30 faq-bx" id="accordion1">
            <div *ngFor="let section of programDto.sections; let i = index">
              <app-program-panel [programSection]="section" [faqId]="'faq' + (i + 1)" (click)="changeVideo(section)"></app-program-panel>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <app-program-video [programSection]="selectedSection" ></app-program-video>
      </div>
    </div>
  </div>
</div>
