<div id="loading-icon-bx"></div>
<div class="breadcrumb-row">
  <div class="container">
    <ul class="list-inline">
      <li><a (click)="goToOtherComponent('/home')">Home</a></li>
      <li>Watch</li>
    </ul>
  </div>
</div>
<div class="section-area section-sp2 bg-fix ovbl-dark join-bx" style="background-color: #0b0b0b">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center heading-bx text-white">
        <h2 class="title-head m-b0">Watch and  <span>Workout!</span></h2>
        <p class="m-b0">Hey there! Ready to get your sweat on and have some fun while doing it? You’re in the right place!</p>
      </div>
      <div class="col-md-6">
        <div class="why-chooses-bx ">
          <div class=""></div>
          <div class="ttr-accordion m-b30 faq-bx" id="accordion1">
            <div *ngFor="let section of programDto.sections; let i = index">
              <app-program-panel [programSection]="section" [faqId]="'faq' + (i + 1)" (click)="changeVideo(section)"></app-program-panel>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <app-program-video [programSection]="selectedSection" ></app-program-video>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="clear" id="comment-list">
      <div class="comments-area" id="comments">
        <h2 class="comments-title white-text">{{selectedSection.comments?.length}} Comments</h2>
        <div class="clearfix m-b20">
          <!-- comment list END -->
          <ol class="comment-list" *ngFor="let comment of selectedSection.comments">
            <li class="comment">
              <app-program-comment [comment]="comment" (click)="changeSection(comment)"></app-program-comment>

              <!-- list END -->
            </li>
          </ol>
          <!-- comment list END -->
          <!-- Form -->
          <div class="comment-respond" id="respond">
            <h4 class="comment-reply-title" id="reply-title">Leave a Comment <small> <a style="display:none;" href="#" id="cancel-comment-reply-link" rel="nofollow">Cancel reply</a> </small> </h4>
            <form class="comment-form" id="commentform" [formGroup]="commentForm" (ngSubmit)="handleAddComment()">
              <p class="comment-form-comment">
                <textarea class="comment-text" rows="8" placeholder="Comment" id="comment" formControlName="comment"></textarea>
              </p>
              <p class="form-submit">
                <input type="submit" class="submit" id="submit">
              </p>
            </form>
          </div>

          <!-- Form -->
        </div>
      </div>
    </div>
  </div>
  <app-modal-respond (replayClick)="handleReplayClick($event)"></app-modal-respond>
</div>

