<div id="loading-icon-bx"></div>
<div class="breadcrumb-row">
  <div class="container">
    <ul class="list-inline">
      <li><a href="#">Home</a></li>
      <li>Watch</li>
    </ul>
  </div>
</div>
<div class="section-area section-sp2 bg-fix ovbl-dark join-bx" style="background-color: #0b0b0b">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center heading-bx text-white">
        <h2 class="title-head m-b0">Watch and  <span>Workout!</span></h2>
        <p class="m-b0">Hey there! Ready to get your sweat on and have some fun while doing it? You’re in the right place!</p>
      </div>
      <div class="col-md-6">
        <div class="why-chooses-bx ">
          <div class=""></div>
          <div class="ttr-accordion m-b30 faq-bx" id="accordion1">
            <div *ngFor="let section of programDto.sections; let i = index">
              <app-program-panel [programSection]="section" [faqId]="'faq' + (i + 1)" (click)="changeVideo(section)"></app-program-panel>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <app-program-video [programSection]="selectedSection" ></app-program-video>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="clear" id="comment-list">
      <div class="comments-area" id="comments">
        <h2 class="comments-title white-text">8 Comments</h2>
        <div class="clearfix m-b20">
          <!-- comment list END -->
          <ol class="comment-list">
            <li class="comment">
              <div class="comment-body">
                <div class="comment-author vcard"> <img  class="avatar photo" src="assets/images/testimonials/pic1.jpg" alt=""> <cite class="fn">John Doe</cite> <span class="says white-text">says:</span> </div>
                <div class="comment-meta"> <a href="#">December 02, 2019 at 10:45 am</a> </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae neqnsectetur adipiscing elit. Nam viae neqnsectetur adipiscing elit.
                  Nam vitae neque vitae sapien malesuada aliquet. </p>
                <div class="reply"> <a href="#" class="comment-reply-link">Reply</a> </div>
              </div>
              <ol class="children">
                <li class="comment odd parent">
                  <div class="comment-body">
                    <div class="comment-author vcard"> <img  class="avatar photo" src="assets/images/testimonials/pic2.jpg" alt=""> <cite class="fn">John Doe</cite> <span class="says">says:</span> </div>
                    <div class="comment-meta"> <a href="#">December 02, 2019 at 10:45 am</a> </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae neque vitae sapien malesuada aliquet.
                      In viverra dictum justo in vehicula. Fusce et massa eu ante ornare molestie. Sed vestibulum sem felis,
                      ac elementum ligula blandit ac.</p>
                    <div class="reply"> <a href="#" class="comment-reply-link">Reply</a> </div>
                  </div>
                  <ol class="children">
                    <li class="comment odd parent">
                      <div class="comment-body">
                        <div class="comment-author vcard"> <img  class="avatar photo" src="assets/images/testimonials/pic3.jpg" alt=""> <cite class="fn">John Doe</cite> <span class="says">says:</span> </div>
                        <div class="comment-meta"> <a href="#">December 02, 2019 at 10:45 am</a> </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae neque vitae sapien malesuada aliquet.
                          In viverra dictum justo in vehicula. Fusce et massa eu ante ornare molestie. Sed vestibulum sem felis,
                          ac elementum ligula blandit ac.</p>
                        <div class="reply"> <a href="#" class="comment-reply-link">Reply</a> </div>
                      </div>
                    </li>
                  </ol>
                  <!-- list END -->
                </li>
              </ol>
              <!-- list END -->
            </li>
            <li class="comment">
              <div class="comment-body">
                <div class="comment-author vcard"> <img  class="avatar photo" src="assets/images/testimonials/pic2.jpg" alt=""> <cite class="fn">John Doe</cite> <span class="says">says:</span> </div>
                <div class="comment-meta"> <a href="#">December 02, 2019 at 10:45 am</a> </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae neque vitae sapien malesuada aliquet.
                  In viverra dictum justo in vehicula. Fusce et massa eu ante ornare molestie. Sed vestibulum sem felis,
                  ac elementum ligula blandit ac.</p>
                <div class="reply"> <a href="#" class="comment-reply-link">Reply</a> </div>
              </div>
            </li>
          </ol>
          <!-- comment list END -->
          <!-- Form -->
          <div class="comment-respond" id="respond">
            <h4 class="comment-reply-title" id="reply-title">Leave a Reply <small> <a style="display:none;" href="#" id="cancel-comment-reply-link" rel="nofollow">Cancel reply</a> </small> </h4>
            <form class="comment-form" id="commentform" method="post">
              <p class="comment-form-author">
                <label for="author">Name <span class="required">*</span></label>
                <input type="text" value="" name="Author"  placeholder="Author" id="author">
              </p>
              <p class="comment-form-email">
                <label for="email">Email <span class="required">*</span></label>
                <input type="text" value="" placeholder="Email" name="email" id="email">
              </p>
              <p class="comment-form-url">
                <label for="url">Website</label>
                <input type="text"  value=""  placeholder="Website"  name="url" id="url">
              </p>
              <p class="comment-form-comment">
                <label for="comment">Comment</label>
                <textarea rows="8" name="comment" placeholder="Comment" id="comment"></textarea>
              </p>
              <p class="form-submit">
                <input type="submit" value="Submit Comment" class="submit" id="submit" name="submit">
              </p>
            </form>
          </div>
          <!-- Form -->
        </div>
      </div>
    </div>
  </div>

</div>

