:root {

  /**
   * colors
   */

      --rich-black-fogra-29_50: hsl(210, 26%, 11%, 0.5);
        --rich-black-fogra-29-1: #08243C;
        --rich-black-fogra-29-2: #08243C;
        --silver-metallic: #888888;
        --coquelicot_20: hsla(12, 98%, 52%, 0.2);
        --coquelicot_10: hsla(12, 98%, 52%, 0.1);
        --sonic-silver: #08243C;
        --cadet-gray: #E0F1FF;
        --light-gray: #FF5A5A;
        --coquelicot: #008AFF;
        --gainsboro: #50C49C;
        --white_20: hsl(0, 0%, 100%, 0.2);
        --white_10: hsl(0, 0%, 100%, 0.1);
        --black_10: hsl(0, 0%, 0%, 0.1);
        --white: #E0F1FF;

  /**
   * typography
   */

  --ff-catamaran: 'Catamaran', sans-serif;
  --ff-rubik: 'Rubik', sans-serif;

  --fs-1: 3.8rem;
  --fs-2: 3rem;
  --fs-3: 2.5rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.5rem;

  --fw-900: 900;
  --fw-800: 800;
  --fw-700: 700;
  --fw-500: 500;

  /**
   * spacing
   */

  --section-padding: 80px;

  /**
   * shadow
   */

  --shadow-1: 0 0 20px var(--black_10);
  --shadow-2: 0px 10px 24px var(--coquelicot_20);

  /**
   * border radius
   */

  --radius-10: 10px;
  --radius-8: 8px;
  --radius-5: 5px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}

@media only screen and (max-width: 767px) {
    .secondary-menu {
        margin-right: 5px;
    }
}
@media only screen and (max-width: 480px) {
    .secondary-menu {
        margin: 0 1px 0 0;
        text-align: right;
    }
}



/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
input,
button,
strong,
ion-icon { display: block; }

img { height: auto; }

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input { width: 100%; }

button { cursor: pointer; }

ion-icon { pointer-events: none; }

address { font-style: normal; }


:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { background-color: var(--light-gray); }

::-webkit-scrollbar-thumb { background-color: var(--coquelicot); }

::-webkit-scrollbar-thumb:hover { background-color: var(--rich-black-fogra-29-1); }





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

.section { padding-block: var(--section-padding); }

.bg-dark {
  background-color: var(--rich-black-fogra-29-1);
  color: var(--silver-metallic);
}

.has-bg-image {
  background-repeat: no-repeat;
  background-position: top left;
}

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
}

.h1
{
  font-family: var(--ff-catamaran);
  line-height: 1.25;



  color: var(--white);
  font-size: var(--fs-1);
  font-weight: var(--fw-900);
}





.section-text { font-size: var(--fs-6); }

.btn {
  max-width: max-content;
  font-size: var(--fs-6);
  text-transform: uppercase;
  font-weight: var(--fw-500);
  padding: 15px 35px;
  border-radius: var(--radius-8);
  transition: var(--transition-1);
}

.btn-primary {
  background-color: var(--coquelicot);
  color: var(--white);
}

.btn-primary:is(:hover, :focus) {
  background-color: var(--white);
  color: var(--coquelicot);
  box-shadow: var(--shadow-2);
}




.w-100 { width: 10%; }

.circle,
.abs-img { position: absolute; }

.circle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -56%);
  width: 100%;
  z-index: -1;
  animation: rotate360 15s linear infinite;
}

@keyframes rotate360 {
  0% { transform: translate(-50%, -56%) rotate(0); }
  100% { transform: translate(-50%, -56%) rotate(1turn); }
}

.circle-2 { animation-direction: reverse; }

.hero-subtitle {
  --color: var(--white);

  color: var(--color);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  max-width: max-content;
  transition: var(--transition-1);
}





.has-scrollbar {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  padding-block-end: 30px;
  scroll-snap-type: inline mandatory;
}

.scrollbar-item {
  min-width: 100%;
  scroll-snap-align: start;
}

.has-scrollbar::-webkit-scrollbar { height: 10px; }

.has-scrollbar::-webkit-scrollbar-track,
.has-scrollbar::-webkit-scrollbar-thumb { border-radius: 50px; }

.has-scrollbar::-webkit-scrollbar-thumb:hover { background-color: var(--coquelicot); }

.has-scrollbar::-webkit-scrollbar-button { width: calc(25% - 25px); }







/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  color: var(--cadet-gray);
  text-align: center;
  padding-block-start: calc(var(--section-padding) + 80px);
  padding-block-end: 0;
  overflow: hidden;
}

.hero::after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 240px;
  background-color: var(--coquelicot);
  z-index: -1;
}



.hero-subtitle {
  background-color: var(--white_10);
  color: var(--white);
  margin-inline: auto;
  padding: 5px;
  padding-inline-end: 15px;
  border-radius: var(--radius-8);
}

.hero-subtitle .strong {
  display: inline-block;
  background-color: var(--coquelicot);
  padding: 2px 15px;
  margin-inline-end: 15px;
  border-radius: var(--radius-5);
}

.hero-title { margin-block: 30px 8px; }

.hero .section-text { margin-block-end: 40px; }

.hero .btn { margin-inline: auto; }

.hero-banner { position: relative; }

.abs-img-1 {
  top: 20px;
  right: -50px;
  width: 190px;
}

.abs-img-2 {
  bottom: -50px;
  left: -40px;
  width: 280px;
}

.hero .abs-img { animation: move 3s linear infinite alternate; }

@keyframes move {
  0% { transform: translate(0, 0); }
  50% { transform: translate(-5px, 10px); }
  100% { transform: translate(5px, 20px); }
}

.hero .abs-img-2 { animation-direction: alternate-reverse; }

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 575px screen
 */

 @media (min-width: 575px) {

    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-1: 5.8rem;
      --fs-2: 4rem;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }
  
    .hero-subtitle { font-size: var(--fs-5); }
  
  
  
  
  
    /**
     * HERO
     */
  
    .hero-content { padding-inline: 40px; }
  
    .hero-subtitle .strong { padding-block: 6px; }
  
    .hero::after { height: 340px; }
  
    .abs-img-1 {
      top: 130px;
      right: -10px;
      width: 230px;
    }
  
    .abs-img-2 {
      bottom: 20px;
      left: -40px;
      width: 310px;
    }
  
  
  
  
  
  
  
  

  
  }
  
  
  
  
  
  /**
   * responsive for larger than 768px screen
   */
  
  @media (min-width: 768px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-2: 4.5rem;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 720px; }
  
  
  
  
    /**
     * HERO
     */
  
    .hero-banner {
      max-width: max-content;
      margin-inline: auto;
    }
  
    .abs-img-1 {
      top: 140px;
      right: 50px;
    }
  
  
  
 
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 992px screen
   */
  
  @media (min-width: 992px) {
  
    /**
     * REUSED STYLE
     */
  
    
    .container { max-width: 960px; }
  
    
  
    
  
  
  
    /**
     * HERO
     */
  
    .hero {
      background-size: contain;
      text-align: left;
    }
  
    .hero::before {
      content: "";
      position: absolute;
      top: -1000px;
      left: -500px;
      width: 1500px;
      height: 1500px;
      background-image: radial-gradient(circle, var(--coquelicot_20) 20%, transparent 70% 100%);
      z-index: -1;
    }
  
    .hero .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 25px;
    }
  
    .hero-content {
      padding-inline: 0;
      margin-block-end: 0;
    }
  
    .hero-subtitle,
    .hero .btn { margin-inline: 0; }
  
    .hero::after {
      width: 330px;
      height: 100%;
      left: auto;
      right: 0;
    }
  
  
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-1: 7rem;
      --fs-2: 5.5rem;
      --fs-4: 2.2rem;
      --fs-5: 2rem;
  
      /**
       * spacing
       */
  
      --section-padding: 120px;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    
     .container { max-width: 1140px; }
  
    .btn {
      padding: 18px 45px;
      border-radius: var(--radius-10);
    }
  
  
    .has-scrollbar { gap: 30px; }
  
    .scrollbar-item { min-width: calc(33.33% - 20px); }
  
  
  
   
  
  
  
    /**
     * HERO
     */
  
    .hero::after { width: 420px; }
  
    .hero .section-text { --fs-6: 1.8rem; }
  
    .abs-img-1 {
      top: 170px;
      right: -30px;
      width: 260px;
    }
  
    .abs-img-2 {
      bottom: 60px;
      left: -80px;
      width: 360px;
    }
  
  
  
  
  }
