
<link rel="preload" as="image" href="../../../../assets/images/hero-banner.png">
<link rel="preload" as="image" href="../../../../assets/images/hero-circle-one.png">
<link rel="preload" as="image" href="../../../../assets/images/hero-circle-two.png">
<link rel="preload" as="image" href="../../../../assets/images/heart-rate.svg">
<link rel="preload" as="image" href="../../../../assets/images/calories.svg">
<link rel="preload" as="image" href="../../../../assets/images/our-services/pic1.jpg">
<link rel="preload" as="image" href="../../../../assets/images/our-services/pic2.jpg">
<link rel="preload" as="image" href="../../../../assets/images/our-services/pic3.jpg">
<div>
  <article>


    <section class="section hero bg-dark has-after has-bg-image" id="home" aria-label="hero" data-section
        style="background-image: url('../../../../assets/images/hero-bg.png')">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle">
              <strong class="strong">The Best</strong>Fitness Club
            </p>

            <h1 class="h1 hero-title">Yes, you could fail!</h1>

            <p class="section-text">
              So what?Trust us when we say, success is all about progress not perfection! The fact that you're here already shows progress 🙂 So, let's take the next step together, learn from our mistakes,  and celebrate every small victory along the way. Are you ready to join us on this exciting journey? Let's do this!
            </p>

            <a (click)="goToOtherComponent('/our-programs')" class="btn btn-primary">Get Started</a>

          </div>

          <div class="hero-banner">

            <img src="../../../../assets/images/about-banner.png" width="66" height="75" alt="hero banner" class="w-100">

            <img src="../../../../assets/images/hero-circle-one.png" width="66" height="66" aria-hidden="true" alt=""
                 class="circle circle-1">
            <img src="../../../../assets/images/hero-circle-two.png" width="66" height="66" aria-hidden="true" alt=""
                 class="circle circle-2">

            <img src="../../../../assets/images/heart-rate.svg" width="255" height="270" alt="heart rate"
                 class="abs-img abs-img-1">
            <img src="../../../../assets/images/calories.svg" width="348" height="224" alt="calories" class="abs-img abs-img-2">

          </div>

        </div>
      </section>
    </article>
  </div>
