<div class="page-wraper">
  <div class="account-form">
    <div class="account-head" style="background-image:url(../../../../assets/images/background/bg1.jpg);">
      <a href="../../../../index.html"><img src="assets/images/logo-white-2.png" alt=""></a>
    </div>
    <div class="account-form-inner">
      <div class="account-container">
        <div class="error-page">

          <h2>Forget Password</h2>
          <h3>Check your email</h3>
          <p>Please check your email for instructions on how to update your password and ensure the security of your account. If you don't see the email in your inbox, please check your spam folder.</p>
          <div class="">
            <a routerLink="/home" class="btn m-r5">Back to home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
