<div class="card-courses-list admin-review">
  <div class="card-courses-full-dec">
    <div class="card-courses-title">
      <h4 (click)="accessReview(review.program.id!)">{{review.program.name}}</h4>
    </div>
    <div class="card-courses-list-bx">
      <ul class="card-courses-view">
        <li class="card-courses-user">
          <div class="card-courses-user-pic">
            <img [src]=review.createdBy.profilePicture alt=""/>
          </div>
          <div class="card-courses-user-info">
            <h5>Reviewer</h5>
            <h4>{{review.createdBy.firstName}} {{review.createdBy.lastName}}</h4>
          </div>
        </li>
        <li class="card-courses-review">
          <h5>{{review.rating}} Review</h5>
          <ul class="cours-star">
            <li *ngFor="let star of review.rating | createArray; let i = index" class="active">
              <i class="fa fa-star"></i>
            </li>
            <li *ngFor="let star of (5 - review.rating) | createArray; let i = index">
              <i class="fa fa-star"></i>
            </li>
          </ul>
        </li>
        <li class="card-courses-categories">
          <h5>Date</h5>
          <h4>{{ review.createdAt | date }}</h4>
        </li>
      </ul>
    </div>
    <div class="row card-courses-dec">
      <div class="col-md-12">
        <p>{{review.review}} </p>
      </div>
      <div class="col-md-12">
        <a href="#" class="btn" data-toggle="modal" data-target="#exampleModal">Reply Review</a>
      </div>
    </div>
  </div>
</div>
