<div class="container div1" >
  <div class="row align-items-center d-flex">
    <div class="col-lg-5 col-md-12 heading-bx left">
      <h2 class="m-b10 title-head"><span>{{serviceItem.name}}</span></h2>
      <h5 class="fw4">
        {{serviceItem.title}}
      </h5>
      <p>
        {{serviceItem.description}}
      </p>
      <a href="#" class="btn">Watch Now</a>
    </div>
    <div class="col-lg-7 col-md-12 heading-bx p-lr">
      <div class="image-bx">
        <img [src]=serviceItem.picture alt="" />
      </div>
    </div>
  </div>
</div>
