<div class="item">
  <div class="cours-bx">
    <div class="action-box">
      <img [src]=program.picture alt="">
      <a href="#" class="btn">Read More</a>
    </div>
    <div class="info-bx text-center">
      <h5><a class="a1" (click)="goToOtherComponent('/program-details')">{{program.name}}</a></h5>
      <span>{{program.category}}</span>
    </div>
    <div class="cours-more-info">
      <div class="review">
        <span>3 Review</span>
        <ul class="cours-star">
          <li class="active"><i class="fa fa-star"></i></li>
          <li class="active"><i class="fa fa-star"></i></li>
          <li class="active"><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
      </div>
      <div class="price">
        <h5>{{program.price}}</h5>
        <del>-</del>
      </div>
    </div>
  </div>
</div>
