
<div *ngFor="let item of myData">
<div class="container div1" >
    <div class="row align-items-center d-flex">
      <div class="col-lg-5 col-md-12 heading-bx left">
        <h2 class="m-b10 title-head">{{item.name}}</h2>
        <h5 class="fw4">
          {{item.title}}
        </h5>
        <p>
          {{item.description}}
        </p>
        <a href="#" class="btn">Watch Now</a>
      </div>
      <div class="col-lg-7 col-md-12 heading-bx p-lr">
        <div class="image-bx">
          <img src={{item.page}} alt="" />
        </div>
      </div>
    </div>
  </div>
 </div>
