<div id="loading-icon-bx"></div>
<div class="account-form-inner">
  <div class="account-form">
    <div class="account-head" style="background-image:url(../../../../assets/images/hero-banner.png);">
      <a routerLink="/home"><img class="img1" src="../../../../assets/images/pngwing.com.png" alt=""></a>
    </div>
    <div class="account-form-inner">
      <div class="account-container">
        <div class="heading-bx left">
          <h2 class="title-head">Complete your <span>Profile</span></h2>
        </div>
        <form class="contact-bx" [formGroup]="form">
          <div *ngFor="let step of steps; let i = index" [hidden]="i !== currentStep">
            <div class="row placeani">

              <div *ngFor="let field of step.fields" class="col-lg-12">
                <div class="form-group" *ngIf="field.name === 'gender'">
                  <div class="input-group">
                    <label>{{field.label}}</label>
                    <input class="form-control" type="text" list="genders" formControlName="gender">
                    <datalist id="genders">
                      <option value="MALE">
                      <option value="FEMALE">
                    </datalist>
                    <div
                      *ngIf="(submitted && form.controls['gender']?.errors) || (form.controls['gender'].invalid && (form.controls['gender'].dirty || form.controls['gender'].touched))">
                      <div *ngFor="let error of getErrorMessage(form.controls['gender'].errors)">
                        {{ error }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group" *ngIf="field.name !== 'gender'">
                  <div class="input-group">
                    <label>{{field.label}}</label>
                    <input [type]="field.type" [formControlName]="field.name" class="form-control">
                    <div
                      *ngIf="(submitted && form.controls[field.name]?.errors) || (form.controls[field.name].invalid && (form.controls[field.name].dirty || form.controls[field.name].touched))">
                      <div *ngFor="let error of getErrorMessage(form.controls[field.name].errors)">
                        {{ error }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <button *ngIf="i > 0" (click)="goToStep(i - 1)" class="btn button-md float-left">Previous</button>
                </div>
                <div class="col-md-6 text-md-right">
                  <button *ngIf="i < steps.length - 1" (click)="goToStep(i + 1)" class="btn button-md float-right">
                    Next
                  </button>
                  <button *ngIf="i === steps.length - 1" (click)="submitForm()" class="btn button-md">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
