<div id="loading-icon-bx"></div>
<div class="content-block" *ngIf="user">
  <!-- About Us -->
  <div class="section-area section-sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 m-b30">
          <div class="profile-bx text-center">
            <div class="user-profile-thumb" [style.background-image]="'url(' + user.profilePicture + ')'">
            </div>
            <div class="profile-info">
              <h4>{{user.firstName + ' ' + user.lastName}}</h4>
              <span>{{user.email}}</span>
            </div>
            <div class="profile-social">
              <ul class="list-inline m-a0">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 m-b30">
          <div class="profile-content-bx">
            <div class="tab-content">
<!--              <div class="tab-pane active" id="courses">-->
<!--                <div class="profile-head">-->
<!--                  <h3>Your Programs</h3>-->
<!--                </div>-->
<!--                <div class="courses-filter">-->
<!--                  <div class="clearfix">-->
<!--                    <ul id="masonry" class="ttr-gallery-listing magnific-image row">-->
<!--                      <li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 pending"*ngFor="let program of programs">-->
<!--                        <app-program [program]="program"></app-program>-->
<!--                      </li>-->
<!--                    </ul>-->
<!--                  </div>-->
<!--                  <div class="col-lg-12 m-b20">-->
<!--                    <div class="pagination-bx rounded-sm gray clearfix">-->
<!--                      <ul class="pagination">-->
<!--                        <li class="previous"><a (click)="previousPage()"><i class="ti-arrow-left"></i> Prev</a></li>-->
<!--                        <li *ngFor="let pageNumber of generatePageRange()" [class.active]="pageNumber === currentPage">-->
<!--                          <a (click)="currentPage = pageNumber; loadData();">{{ pageNumber + 1 }}</a>-->
<!--                        </li>-->
<!--                        <li class="next"><a (click)="nextPage()">Next <i class="ti-arrow-right"></i></a></li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
