<div class="section-area section-sp1">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-12 m-b30">
        <div class="widget courses-search-bx placeani">
          <div class="form-group">
            <div class="input-group">
              <label>Search Programs</label>
              <input name="dzName" type="text" required="" class="form-control"
                     #searchInput (input)="onSearchPrograms(searchInput.value)">
            </div>
          </div>
        </div>
        <div class="widget widget_archive">
          <h5 class="widget-title style-1">All Programs</h5>
          <ul>
            <li [class.active]="selectedCategory === ''" (click)="onCategoryClick('')"><a>General</a></li>
            <li [class.active]="selectedCategory === 'Fitness'" (click)="onCategoryClick('Fitness')"><a>Fitness</a></li>
            <li [class.active]="selectedCategory === 'Mindset'" (click)="onCategoryClick('Mindset')"><a>Mindset</a></li>
            <li [class.active]="selectedCategory === 'Nutrition'" (click)="onCategoryClick('Nutrition')"><a>Nutrition</a></li>
            <li [class.active]="selectedCategory === 'Yoga'" (click)="onCategoryClick('Yoga')"><a>Yoga</a></li>
          </ul>

        </div>
      </div>
      <div class="col-lg-9 col-md-8 col-sm-12">
        <div class="row">
          <div class="col-md-6 col-lg-4 col-sm-6 m-b30" *ngFor="let program of programs">
            <app-program [program]="program"></app-program>
          </div>
          <div class="col-lg-12 m-b20">
            <div class="pagination-bx rounded-sm gray clearfix">
              <ul class="pagination">
                <li class="previous"><a (click)="previousPage()"><i class="ti-arrow-left"></i> Prev</a></li>
                <li *ngFor="let pageNumber of generatePageRange()" [class.active]="pageNumber === currentPage">
                  <a (click)="currentPage = pageNumber; loadData();">{{ pageNumber + 1 }}</a>
                </li>
                <li class="next"><a (click)="nextPage()">Next <i class="ti-arrow-right"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
