<div id="loading-icon-bx"></div>
<app-programs programsTitle="Fitness Programs" programsDescription="This is the most popular fitness programs in our websites" [programs]=programs ></app-programs>
<app-programs programsTitle="Nutrition Programs" programsDescription="This is the most popular Nutrition programs in our websites" [programs]=programs ></app-programs>
<app-programs programsTitle="Mindset Programs" programsDescription="This is the most popular Mindset programs in our websites" [programs]=programs ></app-programs>
<app-programs programsTitle="Yoga Programs" programsDescription="This is the most popular Yoga programs in our websites" [programs]=programs ></app-programs>
