<div id="loading-icon-bx"></div>
<div class="content-block">
  <div class="section-area section-sp1">
    <div class="container">
      <div class="row">
        <!-- Left part start -->
        <div class="col-md-7 col-lg-8 col-xl-8">
          <app-trainer-card *ngFor="let trainer of trainers" [trainer]="trainer"></app-trainer-card>
          <!-- Pagination start -->
          <div class="pagination-bx rounded-sm gray clearfix">
            <ul class="pagination">
              <li class="previous"><a href="#"><i class="ti-arrow-left"></i> Prev</a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li class="next"><a href="#">Next <i class="ti-arrow-right"></i></a></li>
            </ul>
          </div>
          <!-- Pagination END -->
        </div>
        <!-- Left part END -->
        <!-- Side bar start -->
        <div class="col-md-5 col-lg-4 col-xl-4 sticky-top">
          <aside class="side-bar sticky-top">
            <app-search-trainer></app-search-trainer>
            <div class="widget recent-posts-entry">
              <h6 class="widget-title">Recent Posts</h6>
              <div class="widget-post-bx">
                <app-recent-blog></app-recent-blog>
                <app-recent-blog></app-recent-blog>
                <app-recent-blog></app-recent-blog>
              </div>
            </div>
          </aside>
        </div>
        <!-- Side bar END -->
      </div>
    </div>
  </div>
</div>
