 <div class="content-block">
   <div id="loading-icon-bx"></div>
    <app-main-slider></app-main-slider>
  </div>

  <div class="content-block">
    <app-our-services-items [serviceItems]=serviceItems></app-our-services-items>
    <app-popular-programs></app-popular-programs>
    <app-service-description [serviceItem]=serviceItems[0]></app-service-description>
    <app-service-description [serviceItem]=serviceItems[1]></app-service-description>
    <app-service-description [serviceItem]=serviceItems[2]></app-service-description>
    <app-what-people-say></app-what-people-say>
  </div>

