<div class="account-form">
  <div class="account-head" style="background-image:url(../../../assets/images/hero-banner.png);">
    <a routerLink="/home"><img class="img1" src="../../../assets/images/pngwing.com.png" alt=""></a>
  </div>
  <div class="account-form-inner">
    <div class="account-container">
      <div class="heading-bx left">
        <h2 class="title-head">Reset <span>Password</span></h2>
      </div>

      <form class="contact-bx" [formGroup]="resetPasswordFormGroup" (ngSubmit)="handleResetPassword()">
        <div class="row placeani">
          <div class="col-lg-12 mt-3">
            <app-alert *ngIf="errorMessage" typeAlert="danger" message="{{ errorMessage }}"></app-alert>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <div class="input-group">
                <label>Your New Password</label>
                <input type="password" formControlName="password" class="form-control">
                <div *ngIf="(submitted && resetPasswordFormGroup.controls['password']?.errors) || (resetPasswordFormGroup.controls['password'].invalid && (resetPasswordFormGroup.controls['password'].dirty || resetPasswordFormGroup.controls['password'].touched))">
                  <div>
                    {{ getErrorMessage(resetPasswordFormGroup.controls['password'].errors)[0] }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="form-group">
              <div class="input-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" formControlName="confirmPassword">
                <div *ngIf="(submitted && resetPasswordFormGroup.controls['confirmPassword']?.errors) || (resetPasswordFormGroup.controls['confirmPassword'].invalid && (resetPasswordFormGroup.controls['confirmPassword'].dirty || resetPasswordFormGroup.controls['confirmPassword'].touched))">
                  <div>
                    {{ getErrorMessage(resetPasswordFormGroup.controls['confirmPassword'].errors)[0] }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 m-b30">
            <button name="submit" class="btn button-md">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
