<div id="loading-icon-bx" *ngIf="loading"></div>
<div class="container-fluid">
  <div class="db-breadcrumb">
    <h4 class="breadcrumb-title">Modify program</h4>
    <ul class="db-breadcrumb-list">
      <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
      <li>Modify program</li>
    </ul>
  </div>
  <div class="row">
    <!-- Your Profile Views Chart -->
    <div class="col-lg-12 m-b30">
      <app-alert *ngIf="errorMessage" typeAlert="danger" message="{{ errorMessage }}"></app-alert>
      <div class="widget-box">
        <div class="wc-title">
          <h4>Modify program</h4>
        </div>
        <div class="widget-inner">
          <form class="edit-profile m-b30" [formGroup]="programForm">
            <div class="row">
              <div class="col-12">
                <div class="ml-auto">
                  <h3>1. Basic info</h3>
                </div>
              </div>
              <div class="form-group col-6"
                   [ngClass]="{'has-danger': programForm.get('program-motivation')!.invalid && programForm.get('program-motivation')!.touched}">
                <label class="col-form-label">Program Name</label>
                <div>
                  <input class="form-control form-control-danger" type="text" value=""
                         formControlName="program-motivation">
                  <app-validation-message controlName="program-motivation" [formGroup]="programForm"
                                          [submitted]="submitted"></app-validation-message>
                </div>
              </div>

              <div class="form-group col-6">
                <label class="col-form-label">Program Level</label>
                <div>
                  <select class="form-control" style="height: 40px;" formControlName="program-level">
                    <option value="BEGINNER">Beginner</option>
                    <option value="INTERMIDIATE">Intermediate</option>
                    <option value="HARD">Hard</option>
                    <option value="ALL_LEVELS">All Levels</option>
                  </select>
                </div>
                <app-validation-message controlName="program-level" [formGroup]="programForm"
                                        [submitted]="submitted"></app-validation-message>
              </div>

              <div class="form-group col-6">
                <label class="col-form-label">Price (DH)</label>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">DH</span>
                  </div>
                  <input class="form-control form-control-danger" type="text" value=""
                         formControlName="program-price">
                </div>
                <app-validation-message controlName="program-price" [formGroup]="programForm"
                                        [submitted]="submitted"></app-validation-message>
              </div>

              <div class="form-group col-6">
                <label class="col-form-label">Category</label>
                <select class="form-control" style="height: 40px;" formControlName="program-category">
                  <option class="py-2" *ngFor="let option of myOptions.keys()" [value]="option">{{ myOptions.get(option) }}</option>
                </select>
                <app-validation-message controlName="program-category" [formGroup]="programForm"
                                        [submitted]="submitted"></app-validation-message>
              </div>

              <div class="form-group col-6">
                <label class="col-form-label">Duration (Minutes/Day)</label>
                <div class="input-group">
                  <input class="form-control" type="number" step="1" value="" formControlName="program-duration">
                  <div class="input-group-append">
                    <span class="input-group-text">minutes/day</span>
                  </div>
                </div>
                <app-validation-message controlName="program-duration" [formGroup]="programForm"
                                        [submitted]="submitted"></app-validation-message>
              </div>

              <div class="form-group col-12"
                   [ngClass]="{'has-danger': programForm.get('motivation-description')!.invalid && programForm.get('motivation-description')!.touched}">
                <div class="seperator"></div>
                <div class="col-12 m-t20">
                  <div class="ml-auto m-b5">
                    <h3>2. Description</h3>
                  </div>
                </div>
                <label class="col-form-label">Motivation description</label>

                <textarea class="form-control" formControlName="motivation-description"> </textarea>
                <app-validation-message controlName="motivation-description" [formGroup]="programForm"
                                        [submitted]="submitted"></app-validation-message>
              </div>

              <div class="form-group col-12">
                <label class="col-form-label">Program description</label>
                <textarea class="form-control" formControlName="program-description"> </textarea>
                <app-validation-message controlName="program-description" [formGroup]="programForm"
                                        [submitted]="submitted"></app-validation-message>
              </div>
              <div class="form-group col-12">
                <label class="col-form-label">Program Options</label>
                <div>
                  <select formControlName="selected-options" multiple class="form-control form-control-lg"
                          style="height: 200px;">
                    <option class="py-2" *ngFor="let option of myOptions.keys()" [value]="option">{{ myOptions.get(option) }}</option>
                  </select>
                  <app-validation-message controlName="selected-options" [formGroup]="programForm"
                                          [submitted]="submitted"></app-validation-message>
                </div>
                <div class="mt-3 d-flex flex-wrap">
                  <span class="badge badge-pill badge-secondary mr-2 mb-2 d-flex align-items-center"
                        *ngFor="let option of selectedOptions; let i = index">
                    {{ myOptions.get(option) }}
                    <button type="button" class="close ml-2" aria-label="Close" (click)="removeOption(i)">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </span>
                </div>
              </div>


              <div class="form-group col-12">
                <label class="col-form-label">Program Equipments</label>
                <div>
                  <select formControlName="selected-equipments" multiple class="form-control form-control-lg"
                          style="height: 200px;">
                    <option class="py-2" *ngFor="let equipment of myEquipments.keys()"
                            [value]="equipment">{{ myEquipments.get(equipment) }}</option>
                  </select>
                  <app-validation-message controlName="selected-equipments" [formGroup]="programForm"
                                          [submitted]="submitted"></app-validation-message>
                </div>
                <div class="mt-3 d-flex flex-wrap">
                  <span class="badge badge-pill badge-secondary mr-2 mb-2 d-flex align-items-center"
                        *ngFor="let equipment of selectedEquipments; let i = index">
                    {{ myEquipments.get(equipment) }}
                    <button type="button" class="close ml-2" aria-label="Close" (click)="removeEquipment(i)">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </span>
                </div>
              </div>
              <div class="col-12 m-t20">
                <div class="ml-auto">
                  <h3 class="m-form__section">3. Program Content</h3>
                  <h6 class="m-form__section">Modify Section</h6>
                </div>
              </div>
              <div class="col-12 ">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="why-chooses-bx">
                        <div *ngFor="let section of programSections; let i = index" class="ttr-accordion m-b30 faq-bx" id="accordion1">
                            <app-modify-section [programSectionDto]="section" [faqId]="'faq' + (i + 1)"></app-modify-section>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <div class="col-12 text-center">
                <button class="btn" (click)="saveChanges()">Save
                  changes
                </button>
              </div>
            </div>
            <app-modal *ngIf="showModal" message="Section is Modified successfully." [showMessage]="false"></app-modal>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Your Profile Views Chart END-->
  </div>
</div>
